<div class="container row debug">

  <main role="main" class="row debug">

    <section class="row" id="about">
      <header role="banner" class="row module parallax parallax-1 debug">
        <div class="header-wrapper">
          <h1></h1>
          <h2><span class="header-tagline"></span></h2>

          <ul class="diamond-grid">
            <li><a href="https://www.linkedin.com/in/jonberk" title="LinkedIn" target="_blank" class="diamond">
              <div class="diamond-text"><i class="fa fa-linkedin-square"></i></div>
            </a></li>
            <li><a href="https://www.facebook.com/jonberk" title="Facebook" target="_blank" class="diamond">
              <div class="diamond-text"><i class="fa fa-facebook-square"></i></div>
            </a></li>
            <li><a href="https://twitter.com/berkjon" title="Twitter" target="_blank" class="diamond">
              <div class="diamond-text"><i class="fa fa-twitter-square"></i></div>
            </a></li>
            <li><a href="https://github.com/berkjon" title="Github" target="_blank" class="diamond">
              <div class="diamond-text"><i class="fa fa-github-square"></i></div>
            </a></li>
            <li><a href="https://angel.co/jonberk" target="_blank" class="diamond">
              <div class="diamond-text"><i class="fa fa-angellist"></i></div>
            </a></li>
            <li><a href="https://500px.com/berk" title="500px" target="_blank" class="diamond">
              <div class="diamond-text"><i class="fa fa-picture-o"></i></div>
            </a></li>
            <li><a href="https://www.goodreads.com/jonberk" title="Goodreads" target="_blank" class="diamond">
              <div class="diamond-text"><i class="fa fa-book"></i></div>
            </a></li>
            <li><a href="http://open.spotify.com/user/1230827052" title="Spotify" target="_blank" class="diamond">
              <div class="diamond-text"><i class="fa fa-spotify"></i></div>
            </a></li>
          </ul>

          <nav role="navigation" class="row">
            <ul>
              <li><a href="#about">About</a></li>
              <li><a href="#projects">Projects</a></li>
              <li><a href="#photography">Photography</a></li>
            </ul>
          </nav>

        </div>
      </header>
      <div class="module content debug">
        <h4>About Me</h4>
        <div class="row gutters">
          <div class="col span_4 center debug">
            <img id="bobs-image" src="/assets/office-space-bobs.jpg">
          </div>
          <div class="col span_8 text-box debug">
            <p>I've spent most of my adult life advising technology companies on fundraising, acquisitions, and a host of other business & strategic decisions.  In the process I got to work with many incredibly talented teams, and learn closely from industry leaders at the height of their craft.  I realized their dreams of building, doing, and creating were ultimately mine too.  So I started teaching myself to code, and soon left my exciting but comfortable advisory job to solidify my newly acquired skills at Dev Bootcamp.  Now I build things, and I love every minute of it.</p>

            <p>I'm motivated by big challenges, steep learning curves, and solving problems with the opportunity for high impact based on time invested.  My dream job job is one that blurs the distinction between work and play.</p>

            <h4>Want more?  There's a lot of me online:</h4>
            <div>
              <ul>
                <li><img class="emoji" src="/assets/emoji/emoji_shirt-and-tie_160x160.png"> Work - <a href="https://www.linkedin.com/in/jonberk">LinkedIn</a></li>
                <li><img class="emoji" src="/assets/emoji/emoji_computer_160x160.png"> Code - <a href="https://github.com/berkjon">GitHub</a></li>
                <li><img class="emoji" src="/assets/emoji/emoji_lightbulb_160x160.png"> Thoughts - <a href="https://twitter.com/berkjon">Twitter</a></li>
                <li><img class="emoji" src="/assets/emoji/emoji_thumbs-up_160x160.png"> Friends - <a href="https://www.facebook.com/jonberk">Facebook</a></li>
                <li><img class="emoji" src="/assets/emoji/emoji_sunset_160x160.png"> Pictures - <a href="#">Google Photos</a></li>
                <li><img class="emoji" src="/assets/emoji/emoji_money-wings_160x160.png"> Investments - <a href="https://angel.co/jonberk">AngelList</a></li>
                <li><img class="emoji" src="/assets/emoji/emoji_earbuds_160x160.png"> Music - <a href="http://open.spotify.com/user/1230827052">Spotify</a></li>
                <li><img class="emoji" src="/assets/emoji/emoji_books_160x160.png"> Books & Quotes - <a href="https://www.goodreads.com/jonberk">Goodreads</a></li>
                <li><img class="emoji" src="/assets/emoji/emoji_biking_160x160.png"> Rides & Runs - <a href="https://www.strava.com/athletes/berk">Strava</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="row" id="projects">
      <div class="row module parallax parallax-2">
        <div class="vertical-center">
          <h2>PROJECTS</h2>
        </div>
      </div>

      <div class="module content">

        <!-- BRING HOME TO MOM  -->
        <div class="project-content" id="bhtm">
          <div class="mobile-project-header">
            <h3>Bring Home To Mom</h3>
            <hr class="flared-edges"><br/>
          </div>
          <div class="mobile-project-links">
            <nav class="project-links">
              <a class="video" href="https://www.youtube.com/watch?v=IlpoisuHNxc" target="_blank">Video</a>
              <a href="https://github.com/berkjon/bring-home-to-mom" target="_blank">GitHub</a>
              <a href="http://bringhometomom.herokuapp.com/" target="_blank">Live</a>
            </nav>
          </div>
          <div class="project-details">
            <div class="vertical-center">
              <h3>Bring Home<br/> To Mom</h3>
              <hr class="flared-edges"><br/>
              <p><em>Overview:</em> Bring Home To Mom is a match-making and date-planning app targeted to parents. Parents create profiles for their children, browse and filter for potential matches, plan dates while communicating with the other child's parents, and split the cost of the upcoming date so everything is prepaid.</p>
              <p><em>Technology:</em> Ruby on Rails and PostgreSQL on the back end, and a mix of JavaScript, jQuery, AJAX, and handlebars.js on the front-end to deliver a single-page experience across much of the site.  API integrations include Stripe for payments, Twilio for MMS notifications, Cloudinary for images, and Rotten Tomatoes and OMDB for local movie listings.</p>
              <p><em>Background:</em> This was my final project at Dev Bootcamp.  I conceived and pitched the idea, and led a team of four to create the feature-rich product in exactly one week. </p>
              <p><em>Creators:</em> Jonathan Berk, Sophie Garden, Tony Mai, Kevin Ceballos.  Created April 2015.</p>
              <nav class="project-links">
                <a class="video" href="https://www.youtube.com/watch?v=IlpoisuHNxc" target="_blank">Video</a>
                <a href="https://github.com/berkjon/bring-home-to-mom" target="_blank">GitHub</a>
                <a href="http://bringhometomom.herokuapp.com/" target="_blank">Live</a>
              </nav>
            </div>
          </div>
        </div>


        <!-- 98PROBLEMS  -->
        <div class="project-content" id="ninety8problems">
          <div class="mobile-project-header">
            <h3>#98problems</h3>
            <hr class="flared-edges"><br/>
          </div>
          <div class="mobile-project-links">
            <nav class="project-links">
              <a class="video" href="https://www.youtube.com/watch?v=y08LVBlg7a8" target="_blank">Video</a>
              <a href="https://github.com/berkjon/98problems" target="_blank">GitHub</a>
            </nav>
          </div>
          <div class="project-details">
            <div class="vertical-center">
              <h3>#98problems</h3>
              <hr class="flared-edges"><br/>
              <p><em>Overview:</em> #98problems is a tool to organize music on Spotify using tags instead of traditional playlists. After importing their Spotify library and tagging tracks with various characteristics, users can filter their collection and generate on-the-fly playlists containing only songs matching a particular set of attributes (e.g. "workout', "mashup", instrumental"). Playlists are instantly exported to Spotify for easy listening on the go.</p>
              <p><em>Technology:</em> Ruby, Sinatra and PostgreSQL on back end.  JavaScript, jQuery & AJAX to interact with database without reloading.  Bootstrap for basic page styling.  Spotify API and OAuth 2.0 integration.</p>
              <p><em>Background:</em> This was a solo project I completed in one week at Dev Bootcamp.</p>
              <nav class="project-links">
                <a class="video" href="https://www.youtube.com/watch?v=y08LVBlg7a8" target="_blank">Video</a>
                <a href="https://github.com/berkjon/98problems" target="_blank">GitHub</a>
              </nav>
            </div>
          </div>
        </div>


        <!-- SHELFWORM  -->
        <div class="project-content" id="shelfworm">
          <div class="mobile-project-header">
            <h3>Shelfworm</h3>
            <hr class="flared-edges"><br/>
          </div>
          <div class="mobile-project-links">
            <nav class="project-links">
              <a class="video" href="https://www.youtube.com/watch?v=GVh5b7ZRkec" target="_blank">Video</a>
              <a href="https://github.com/berkjon/shelfworm" target="_blank">GitHub</a>
              <a href="www.shelfworm.com" target="_blank">Live</a>
            </nav>
          </div>
          <div class="project-details">
            <div class="vertical-center">
              <h3>Shelfworm</h3>
              <hr class="flared-edges"><br/>
              <p><em>Overview:</em> Shelfworm is a virtual bookshelf.  Users sign in with their Goodreads account, and Shelfworm automatically creates a neatly stylized page of all books that user has read, sorted by rating. Cover art is imported automatically, and on mouse hover, the cover rotates to reveal additional details including the user's rating and review.</p>
              <p><em>Technology:</em> Ruby, Sinatra and PostgreSQL on back end.  JavaScript, jQuery & AJAX to deliver 'infinite scroll' functionality for large bookshelves.  Hover effects with CSS.  Redis and Resque for background jobs.  API and OAuth 1.0 integration with Goodreads.  Cover images sourced from Goodreads, Open Library and LibraryThing.</p>
              <p><em>Background:</em> This was a solo project I started at Dev Bootcamp and continued to develop after graduating.</p>
              <nav class="project-links">
                <a class="video" href="https://www.youtube.com/watch?v=GVh5b7ZRkec" target="_blank">Video</a>
                <a href="https://github.com/berkjon/shelfworm" target="_blank">GitHub</a>
                <a href="www.shelfworm.com" target="_blank">Live</a>
              </nav>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="row" id="photography">
      <div class="row module parallax parallax-3">
        <div class="vertical-center">
          <h2>PHOTOGRAPHY</h2>
        </div>
      </div>

      <div class="row module content">
        <div class="row gutters">
          <div class="photography-content">

            <div class="photo-carousel-wrapper center">
              <div class="photo-carousel">

                <div class="slick-slide center">
                  <div class="pixels-photo">
                    <p><img src="https://drscdn.500px.org/photo/114470773/m%3D900/4343168b701606ed87271d21e2433c4d" alt="Photograph Sahalie Falling by Jonathan Berk on 500px"></p>
                    <a href="https://500px.com/photo/114470773/sahalie-falling-by-jonathan-berk">Sahalie Falling by Jonathan Berk on 500px</a>
                  </div>
                </div>

                <div class="slick-slide center">
                  <div class="pixels-photo">
                    <p><img src="https://drscdn.500px.org/photo/114470829/m%3D900/36ce80821dad09be694b3737e5921a65" alt="Photograph Blue Ripples by Jonathan Berk on 500px"></p>
                    <a href="https://500px.com/photo/114470829/blue-ripples-by-jonathan-berk">Blue Ripples by Jonathan Berk on 500px</a>
                  </div>
                </div>

                <div class="slick-slide center">
                  <div class="pixels-photo">
                    <p><img src="https://drscdn.500px.org/photo/6694711/m%3D900/54aed0b62bf99c1f04c6f221b2ab0525" alt="Photograph Tranquil Crossing by Jonathan Berk on 500px"></p>
                    <a href="https://500px.com/photo/6694711/tranquil-crossing-by-jonathan-berk">Tranquil Crossing by Jonathan Berk on 500px</a>
                  </div>
                </div>

                <div class="slick-slide center">
                  <div class="pixels-photo">
                    <p><img src="https://drscdn.500px.org/photo/6148359/m%3D900/1b65dc31401bc07b12b4933aca7d8d52" alt="Photograph Himalayan Wildflowers by Jonathan Berk on 500px"></p>
                    <a href="https://500px.com/photo/6148359/himalayan-wildflowers-by-jonathan-berk">Himalayan Wildflowers by Jonathan Berk on 500px</a>
                  </div>
                </div>

                <div class="slick-slide center">
                  <div class="pixels-photo">
                    <p><img src="https://drscdn.500px.org/photo/6148302/m%3D900/e7032e21addf7013445e9326501189be" alt="Photograph Kashmir Flower Garden by Jonathan Berk on 500px"></p>
                    <a href="https://500px.com/photo/6148302/kashmir-flower-garden-by-jonathan-berk">Kashmir Flower Garden by Jonathan Berk on 500px</a>
                  </div>
                </div>

                <div class="slick-slide center">
                  <div class="pixels-photo">
                    <p><img src="https://drscdn.500px.org/photo/5956633/m%3D900/27c587b26c59979bc3a904abc2fc9a1d" alt="Photograph Tibetan Prayer Flags by Jonathan Berk on 500px"></p>
                    <a href="https://500px.com/photo/5956633/tibetan-prayer-flags-by-jonathan-berk">Tibetan Prayer Flags by Jonathan Berk on 500px</a>
                  </div>
                </div>

                <div class="slick-slide center">
                  <div class="pixels-photo">
                    <p><img src="https://drscdn.500px.org/photo/1805359/m%3D900/9400e8a5d4b4fdafbd3bcf7d95ac9f77" alt="Photograph Reflection of The Bayon by Jonathan Berk on 500px"></p>
                    <a href="https://500px.com/photo/1805359/reflection-of-the-bayon-by-jonathan-berk">Reflection of The Bayon by Jonathan Berk on 500px</a>
                  </div>
                </div>

                <div class="slick-slide center">
                  <div class="pixels-photo">
                    <p><img src="https://drscdn.500px.org/photo/1805555/m%3D900/bf82792c0caee159b0c4635cbded6f2e" alt="Photograph Baby Backpack by Jonathan Berk on 500px"></p>
                    <a href="https://500px.com/photo/1805555/baby-backpack-by-jonathan-berk">Baby Backpack by Jonathan Berk on 500px</a>
                  </div>
                </div>

                <div class="slick-slide center">
                  <div class="pixels-photo">
                    <p><img src="https://drscdn.500px.org/photo/1805543/m%3D900/89bce280fd5bfc775bb9318f351aaafc" alt="Photograph Canoe on Halong Bay by Jonathan Berk on 500px"></p>
                    <a href="https://500px.com/photo/1805543/canoe-on-halong-bay-by-jonathan-berk">Canoe on Halong Bay by Jonathan Berk on 500px</a>
                  </div>
                </div>

                <div class="slick-slide center">
                  <div class="pixels-photo">
                    <p><img src="https://drscdn.500px.org/photo/5956628/m%3D900/7de06920bdfb14d676fbb973c19a51cc" alt="Photograph Desert Rose by Jonathan Berk on 500px"></p>
                    <a href="https://500px.com/photo/5956628/desert-rose-by-jonathan-berk">Desert Rose by Jonathan Berk on 500px</a>
                  </div>
                </div>

                <div class="slick-slide center">
                  <div class="pixels-photo">
                    <p><img src="https://drscdn.500px.org/photo/6694737/m%3D900/fac57877cea7cf9d2eebecc148577ab4" alt="Photograph Cascading Waterfalls by Jonathan Berk on 500px"></p>
                    <a href="https://500px.com/photo/6694737/cascading-waterfalls-by-jonathan-berk">Cascading Waterfalls by Jonathan Berk on 500px</a>
                  </div>
                </div>

              </div>
            </div>
            <div class="photography-text center">
              <p>View many of my favorite captures at <a href="https://500px.com/berk" alt="500px">500px</a>.</p>
              <p>I am also in the process of creating more comprehensive photo journals on <a href="https://medium.com/@berkjon" alt="Medium">Medium</a>, from some of my travels.  You can see them below.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col span_4 center">
        <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" data-width="100%" href="https://medium.com/@berkjon/test-124733c08c31">Trans-Siberian Railroad</a>
      </div>
      <div class="col span_4 center">
        <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" data-width="100%" href="https://medium.com/@berkjon/norway-sweden-6eda4d62ee4d">Norway & Sweden</a>
      </div>
      <div class="col span_4 center">
        <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" data-width="100%" data-height="370px" href="https://medium.com/@berkjon/costa-rica-nicaragua-5917e7f4ec10">Costa Rica & Nicaragua</a>
      </div>
    </div>
  </section>

</main>

<footer role="contentinfo" class="row center">
  <span>© Jonathan Berk</span>
</footer>
</div>