    <div class="container row debug">

      <main role="main" class="row debug">

        <section class="row" id="about">
          <header role="banner" class="row module parallax parallax-1 debug">
            <div class="section-content-wrapper">
              <h1></h1>
              <h2><span class="header-tagline"></span></h2>

              <ul class="diamond-grid">
                <li>
                  <a href="https://www.linkedin.com/in/jonberk" title="LinkedIn" target="_blank" class="diamond">
                    <div class="text">
                      <i class="fa fa-linkedin-square"></i>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/jonberk" title="Facebook" target="_blank" class="diamond">
                    <div class="text">
                      <i class="fa fa-facebook-square"></i>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/berkjon" title="Twitter" target="_blank" class="diamond">
                    <div class="text">
                      <i class="fa fa-twitter-square"></i>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="http://open.spotify.com/user/1230827052" target="_blank" class="diamond">
                    <div class="text">
                      <i class="fa fa-spotify"></i>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank" class="diamond">
                    <div class="text">
                      <i class="fa fa-picture-o"></i>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#" title="Github" target="_blank" class="diamond">
                    <div class="text">
                      <i class="fa fa-github-square"></i>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="https://angel.co/jonberk" target="_blank" class="diamond">
                    <div class="text">
                      <i class="fa fa-angellist"></i>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="https://www.goodreads.com/jonberk" title="Goodreads" target="_blank" class="diamond">
                    <div class="text">
                      <i class="fa fa-book"></i>
                    </div>
                  </a>
                </li>
              </ul>

              <nav role="navigation" class="row">
                <ul>
                  <li><a href="#about">About</a></li>
                  <li><a href="#projects">Projects</a></li>
                  <li><a href="#photography">Photography</a></li>
                </ul>
              </nav>

            </div>
          </header>
          <div class="module content debug">
            <h4>About Me</h4>
            <div class="row gutters">
              <div class="col span_4 center debug">
                <img id="bobs-image" src="/assets/office-space-bobs.jpg">
              </div>
              <div class="col span_8 text-box debug">
                <p>I've spent most of my adult life advising technology companies on fundraising, acquisitions, and a host of other business & strategic decisions.  In the process I got to work with many incredibly talented teams, and learn closely from industry leaders at the height of their craft.  I realized their dreams of building, doing, and creating were ultimately mine too.  So I started teaching myself to code, and soon left my exciting but comfortable advisory job to solidify my newly acquired skills at Dev Bootcamp.  Now I build things, and I love every minute of it.</p>

                <p>I'm motivated by big challenges, steep learning curves, and solving problems with the opportunity for high impact based on time invested.  My dream job job is one that blurs the distinction between work and play.</p>

                <h4>Want more?  There's a lot of me online:</h4>
                <div>
                  <ul>
                    <li><img class="emoji" src="/assets/emoji/emoji_shirt-and-tie_160x160.png"> Work - <a href="https://www.linkedin.com/in/jonberk">LinkedIn</a></li>
                    <li><img class="emoji" src="/assets/emoji/emoji_computer_160x160.png"> Code - <a href="https://github.com/berkjon">GitHub</a></li>
                    <li><img class="emoji" src="/assets/emoji/emoji_lightbulb_160x160.png"> Thoughts - <a href="https://twitter.com/berkjon">Twitter</a></li>
                    <li><img class="emoji" src="/assets/emoji/emoji_thumbs-up_160x160.png"> Friends - <a href="https://www.facebook.com/jonberk">Facebook</a></li>
                    <li><img class="emoji" src="/assets/emoji/emoji_sunset_160x160.png"> Pictures - <a href="#">Google Photos</a></li>
                    <li><img class="emoji" src="/assets/emoji/emoji_money-wings_160x160.png"> Investments - <a href="https://angel.co/jonberk">AngelList</a></li>
                    <li><img class="emoji" src="/assets/emoji/emoji_earbuds_160x160.png"> Music - <a href="http://open.spotify.com/user/1230827052">Spotify</a></li>
                    <li><img class="emoji" src="/assets/emoji/emoji_books_160x160.png"> Books & Quotes - <a href="https://www.goodreads.com/jonberk">Goodreads</a></li>
                    <li><img class="emoji" src="/assets/emoji/emoji_biking_160x160.png"> Rides & Runs - <a href="https://www.strava.com/athletes/berk">Strava</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="row" id="projects">
          <div class="row module parallax parallax-2">
            <div class="section-content-wrapper">
              <h2>PROJECTS</h2>
            </div>
          </div>

          <div class="module content debug">

            <!-- BRING HOME TO MOM  -->
            <div class="row gutters">
              <div class="col span_4 debug">
                <div class="hover debug">
                  <figure class="effect-lexi">
                    <img src="/assets/bhtm-screenshot.png" alt="Bring Home To Mom"/>
                    <figcaption>
                      <h3 class="project-title">Bring Home <span>To Mom</span></h3>
                      <p>
                        <a href="http://bringhometomom.herokuapp.com/">Live <i class="fa fa-external-link"></i></a>
                        <a href="https://github.com/berkjon/bring-home-to-mom">GitHub <i class="fa fa-github-alt"></i></a>
                      </p>
                    </figcaption>
                  </figure>
                </div>
              </div>
              <div class="col span_8 debug">
                Description goes here
              </div>
            </div>
          </div>

          <!-- SHELFWORM  -->

        </section>

        <section class="row" id="photography">
          <div class="row module parallax parallax-3">
            <div class="section-content-wrapper">
              <h2>PHOTOGRAPHY</h2>
            </div>
          </div>

          <div class="row module content">
            Photography content
          </div>
        </section>

      </main>

      <footer role="contentinfo" class="row">
        Insert footer stuff here.
      </footer>
    </div>