// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*  COLORS  */
/*$about_bg_color: rgba(0,0,0,0.05); very light gray*/
$about_bg_color: #435a6b; /*grayish-blue*/
/*$projects_bg_color: #545DD9; sublime purple font */
$projects_bg_color: #0e83cd; /*bright, lightish blue*/
$header_tagline_color: rgb(252, 240, 182);
$nav_background_color: #252525;
$nav_border_color: #dedede;
$nav_font_color: #888;
$link_hover_color: #3cddb9;
$section_divider_border_color: rgb(96, 123, 145);
$bhtm_bg_color: #501A3E;
$bhtm_font_color: rgba(167, 16, 119, 1);
/*$bhtm_font_color: rgba(250, 240, 248, 1);*/
$bhtm_details_bg_color: rgba(250, 240, 248, 0.9);
/*$bhtm_details_bg_color: rgba(157, 94, 137, 0.9);*/
$ninety8problems_bg_color: rgba(70, 193, 110, 1);
$ninety8problems_font_color: rgba(189, 189, 189, 1);
$ninety8problems_details_bg_color: rgba(23, 23, 23, 0.85);
$shelfworm_bg_color: rgba(255, 241, 196, 1);
$shelfworm_font_color: rgba(196, 252, 255, 1);
$shelfworm_details_bg_color: rgba(94, 65, 47, 0.92);
$photography_bg_color: rgb(214, 215, 224);



/* FONTS */
@font-face {
    font-family: 'Salome';
    src: font-url('Salome.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GoodDelicate';
    src: font-url('GoodDelicate.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Glamor';
    src: font-url('Glamor-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Glamor';
    src: font-url('Glamor-Bold.otf');
    font-weight: bold;
    font-style: normal;
}


/*  GLOBAL STYLES */
.debug {
  border: 1px dotted red;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

p{
  margin-bottom: 20px;
}

em{
  font-weight: bold;
}

.cover-wrapper{
  text-align: center;
  position: relative;
  top: 3%;
  /*transform: translateY(-50%);*/
}

.vertical-center{
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


/* HORIZONTAL DIVIDERS */
hr.flared-edges {
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.flared-edges::before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -32px;
  border-style: solid;
  border-color: inherit;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}


/* ============================================================
  NAV BAR
============================================================ */
header nav {
  background-color: $nav_background_color;
  opacity: 0.6;
  border: 1px solid $nav_border_color;
  /*border-radius: 14px;*/
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: $nav_font_color;
  display: block;
  /*margin: 1em 5em;*/
  overflow: hidden;
  display: none;
}
header nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
header nav ul li {
  display: inline-block;
  list-style-type: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
header nav > ul > li > a {
  color: #aaa;
  display: block;
  line-height: 56px;
  padding: 0 24px;
  text-decoration: none;
}
header nav > ul > li:hover {
  background-color: rgb( 40, 44, 47 );
}
header nav > ul > li:hover > a {
  color: rgb( 255, 255, 255 );
}
header nav > ul > li:hover > a > .caret {
  border-top-color: rgb( 255, 255, 255 );
}

.fixed-top{
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #7c7c7c;
  opacity: 1;
}


/* ============================================================
  DIAMONDS
============================================================ */
.diamond-grid {
    /*width: 385px;*/
    /*height:225px;*/
    width: 293px;
    height:175px;
    margin: 0 auto;
    box-sizing: content-box;
}

ul.diamond-grid li {
    /*list-style: none;*/
    float: left;
    /*margin-left: 32px;*/
    margin-left: 24px;
}

.diamond {
/*    height: 80px;
    width: 80px;*/
    height: 60px;
    width: 60px;
/*    background: $nav_background_color;
    opacity: 0.4;
    color: $nav_font_color;
    border: 3px solid $nav_border_color;*/
    border: 3px solid rgba(130, 130, 130, 0.85);
    background-color: rgba(255, 255, 255, 0.4);
    color: rgba(0, 0, 0, 0.5);
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: color .35s linear;
    -moz-transition: color .35s linear;
    -o-transition: color .35s linear;
    transition: color .35s linear;
    -webkit-transition: background-color .35s linear;
    -moz-transition: background-color .35s linear;
    -o-transition: background-color .35s linear;
    transition: background-color .35s linear;
}

.diamond-text {
/*    height: 80px;
    width: 80px;*/
    /*font-size: 44px;*/
    height: 60px;
    width: 60px;
    font-size: 34px;
    padding: 0 10px;
    display: table-cell;
    vertical-align: middle;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    text-align: center;
}

.diamond-grid > li:nth-child(4) {
    /*margin-left: 91px;*/
    margin-left: 69px;
}
.diamond-grid > li:nth-child(n+4){
    /*margin-top: -27px;*/
    margin-top: -22px;
}
.diamond:hover {
    /*opacity: 0.9;*/
    color: $link_hover_color;
    border-color: $link_hover_color;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 1;
}

/* ============================================================
  SECTIONS -- ABOUT
============================================================ */
#about{
/*  background-color: $about_bg_color;
  padding: 1% 3%;*/
}

.header-wrapper{
  margin: 0 auto;
  text-align: center;
  position: absolute;
  bottom: 1.5em;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.8);
  width: 266px;
}

.header-wrapper h4{
  margin-top: 8px;
  font-family: "Cinzel", serif;
  font-size: 1.1em;
  text-align: center;
}

.header-wrapper h5{
  font-family: "Bad Script", cursive;
  text-align: center;
}

span.welcome-tagline:before, span.welcome-tagline:after{
  content:"";
  vertical-align:top;
  display:inline-block;
  width: 19%;
  height: 1em;
  border-bottom:1px solid black;
  margin:0 4% 0 -55%;
}

span.welcome-tagline:after{
  margin:0 -55% 0 4%;
}

span.welcome-tagline{
}

h1.name-header{
  /*font-family: "Roboto Slab", sans-serif;*/
  font-family: "Oswald", sans-serif;
    font-size: 2.3em;
  font-weight: bold;
  text-align: center;
  margin-top: -3px;
}

a.down-arrows{
  text-decoration: none;
  position: absolute;
  margin: 0 auto;
  bottom: -4px;
  left: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.4);
  width: 20px;
}

a.down-arrows:hover{
  color: rgb(255, 255, 255);
}

.about-content{
  padding: 5% 10%;
  background: #fcfaf2;
  color: #333;
}

.quote{
  margin: 0 auto;
  width: 474px;
  margin-bottom: 5%;
  padding: 0 20px;
}

.about-content .quote h3{
  font-family: "Vollkorn", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.3em;
  line-height: 30px;
  text-indent: -6px;
  margin: 0 0 10px 0;
}

.about-content .quote p{
  font-family: "Vollkorn", serif;
  color: #ba1820;
  font-size: 0.8em;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-indent: -13px;
  line-height: 18px;
}

.about-content .separator{
  max-width: 600px;
  margin: 0 auto;
}

.about-content hr{
  border-color: #ba1820;
}

.about-content .header{
  margin-top: 2%;
  margin-bottom: 3%;
}

.about-content .header h3{
  font-family: "Josefin Slab", serif;
  font-weight: 600;
  font-size: 1.7em;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: -3px;
}

.about-content .header h3 span{
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.about-content .header span{
  font-family: "Bad Script", cursive;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.5);
}

.info-cards-wrapper{
  max-width: 1000px;
  margin: 0 auto;
}

.info-card{
  padding: 0.5em;
  border-radius: 1em;
  min-width: 262px;
}

.info-card-header{
  /*margin-bottom: 10px;*/
}

.info-card ul{
  margin-left: 0.5em;
}

.info-card a{
  text-decoration: none;
  font-size: 0.8em;
  color: inherit;
}

.info-card a:hover{
  color: #ba1820;
}

.info-card h4{
  border-top: 3px solid #ba1820;
  font-family: "Cinzel", serif;
  font-size: 1.4em;
  margin-top: 4px;
  color: black;
}

.info-card h4 span{
  background: #fcfaf2;
  position: relative;
  top: -11px;
  padding: 0 6px 0 0;
}

.info-card .card-tagline{
  font-family: "Lato", cursive;
  font-weight: 200;
  font-style: italic;
  font-size: 0.9em;
  float: right;
  margin-top: -26px;
}

.info-card li:before{
  font-family: FontAwesome;
  content: "\f105";
  padding-right: 4px;
  /*vertical-align: middle;*/
  display: inline-block;
}

#about .parallax{
  /*border-radius: 2em;*/
}

span.first-letter{
  font-size: 1.7em;
}

.text-box{
  border: 1px solid blue;
}

.center{
  text-align: center;
  margin: 0 auto;
}


/* ============================================================
  SECTIONS -- PROJECTS
============================================================ */
#projects{
  background-color: $projects_bg_color;
}

#projects .parallax{
}

#projects h2 span{
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1% 2%;
  color: rgba(0, 0, 0, 0.8);
}

@media all and (min-width: 768px) {
  #projects h2, #photography h2 {
    font-size: 4.5em;
  }
}

/* ============================================================
  PROJECT SECTIONS
============================================================ */
.project-content{
  height: 100vh;
  background-size: auto 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  transition: 1s ease-in-out;
}

.project-details{
  display: none;
}

.project-details p{
  font-size: 12px;
  margin-bottom: 20px;
}

#bhtm{
  background-image: image-url("bhtm-laptop-border.png");
  background-color: $bhtm_bg_color;
  color: $bhtm_font_color;
}

#bhtm .project-details{
  background-color: $bhtm_details_bg_color;
}

#bhtm hr{
  border-color: $bhtm_bg_color;
}

#bhtm .project-links a::before, #bhtm .project-links a::after{
  background: $bhtm_bg_color;
}

#bhtm .mobile-project-header, #bhtm .mobile-project-header hr, #bhtm .mobile-project-links{
  color: $bhtm_details_bg_color;
  border-color: $bhtm_details_bg_color;
}

#bhtm .mobile-project-links a::before, #bhtm .mobile-project-links a::after{
  background: $bhtm_font_color;
}


#ninety8problems{
  background-image: image-url("98problems-laptop-border.png");
  background-color: $ninety8problems_bg_color;
  color: $ninety8problems_font_color;
}

#ninety8problems .project-details{
  background-color: $ninety8problems_details_bg_color;
}

#ninety8problems hr{
  border-color: $ninety8problems_bg_color;
}

#ninety8problems .project-links a::before, #ninety8problems .project-links a::after{
  background: $ninety8problems_bg_color;
}

#ninety8problems .mobile-project-header, #ninety8problems .mobile-project-header hr, #ninety8problems .mobile-project-links{
  color: $ninety8problems_details_bg_color;
  border-color: $ninety8problems_details_bg_color;
}

#ninety8problems .mobile-project-links a::before, #ninety8problems .mobile-project-links a::after{
  background: $ninety8problems_font_color;
}



#shelfworm{
  background-image: image-url("shelfworm-laptop-border.png");
  background-color: $shelfworm_bg_color;
  color: $shelfworm_font_color;
}

#shelfworm .project-details{
  background-color: $shelfworm_details_bg_color;
}

#shelfworm hr{
  border-color: $shelfworm_bg_color;
}

#shelfworm .project-links a::before, #shelfworm .project-links a::after{
  background: $shelfworm_bg_color;
}

#shelfworm .mobile-project-header, #shelfworm .mobile-project-header hr, #shelfworm .mobile-project-links{
  color: $shelfworm_details_bg_color;
  border-color: $shelfworm_details_bg_color;
}

#shelfworm .mobile-project-links a::before, #shelfworm .mobile-project-links a::after{
  background: $shelfworm_font_color;
}

.project-content h3{
  font-family: "Salome", serif;
  font-size: 48px;
  text-align: center;
}

.mobile-project-header{
  position: absolute;
  top: 7%;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0% 6%;
}



.mobile-project-links{
  position: absolute;
  bottom: 5%;
  width: 420px;
  left: 0;
  right: 0;
  margin: auto;
}

.project-links{
  position: relative;
  text-align: center;
}

.project-links a {
  color: inherit;
  text-shadow: none;
  font-weight: 700;
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  padding: 12px 10px 10px;
  outline: none;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.35em;
}

.project-links a::before,
.project-links a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  transform: scale(0.85);
}

.project-links a::after {
  opacity: 0;
  -webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: top 0.3s, opacity 0.3s, transform 0.3s;
}

.project-links a:hover::before,
.project-links a:hover::after,
.project-links a:focus::before,
.project-links a:focus::after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.project-links a:hover::after,
.project-links a:focus::after {
  top: 0%;
  opacity: 1;
}



@media all and (min-width: 768px) {
  .project-content {
    background-size: 70%;
    background-attachment: fixed;
  }

  .project-details{
    width: 50%;
    float: right;
    padding: 6%;
    height: 100%;
    min-height: 100%;
    position: relative;
    display: inherit;
    overflow: auto;
  }

  .mobile-project-header, .mobile-project-links{
    display: none;
  }
}


/* ============================================================
  SECTION -- PHOTOGRAPHY
============================================================ */
#photography h2 span{
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1% 2%;
  color: rgba(0, 0, 0, 0.8);
}

.photography-content{
  background-color: $photography_bg_color;
  padding: 5% 10%;
}

.photo-carousel-wrapper{
  border: 20px solid #504F58;
  padding: 5px 5px 0px 5px;
  max-width: 900px;
}

.photography-text{
  max-width: 900px;
  margin-top: 5%;
}

.photo-journals{
  background-color: black;
}


/* ============================================================
  FOOTER
============================================================ */
footer{
  background-color: #313131;
  color: #BD8C8C;
  padding: 3px;
}

footer span{
  font-size: 0.7em;
}


/* ============================================================
  PARALLAX FOR SECTIONS
  http://callmenick.com/post/simple-parallax-scrolling-effect
============================================================ */
.module:last-child {
  margin-bottom: 0;
}
.module p {
  font-size: 16px;
  font-weight: 300;
}
.module p:last-child {
  margin-bottom: 0;
}
.module.content {
  /*padding: 40px 0;*/
}
.module.parallax {
  /*height: 100vh;*/
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/*.module.parallax h1 {
  font-family: 'Amatic SC', cursive;
  color: rgba(255, 255, 255, 0.8);
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}*/
.module.parallax h2 {
  font-family: 'Raleway', serif;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  font-size: 2.8em;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.module.parallax-1 {
  background-image: image-url("kvalvika_beach_1mb.jpg");
  height: 100vh;
/*  border-top: 16px solid rgba(0, 0, 0, 0.35);
  border-bottom: 16px solid rgba(0, 0, 0, 0.35);*/
}
.module.parallax-2 {
  background-image: image-url("programming_1600x600.jpg");
  height: 300px;
  border-top: 16px solid rgba(255, 255, 255, 0.7);
  border-bottom: 16px solid rgba(255, 255, 255, 0.7);
}
.module.parallax-3 {
  background-image: image-url("photography_1600x600.jpg");
  height: 300px;
  border-top: 16px solid rgba(0, 0, 0, 0.35);
  border-bottom: 16px solid rgba(0, 0, 0, 0.35);
}

@media all and (min-width: 600px) {
  .module h2 {
    font-size: 42px;
  }
  .module p {
    font-size: 20px;
  }
/*  .module.parallax h1 {
    font-size: 4.5em;
  }*/
  .project-details p{
    font-size: 16px;
  }
}
@media all and (min-width: 960px) {
/*  .module.parallax h1 {
    font-size: 6em;
  }*/
}

/*---------------------------------*/
/***** HOVER EFFECTS -- COMMON *****/
/*---------------------------------*/

.hover {
  position: relative;
  clear: both;
  margin: 0 auto;
  /*padding: 1em 0 4em;*/
  max-width: 500px;
  list-style: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Common style */
.hover figure {
  position: relative;
  float: left;
  overflow: hidden;
/*  margin: 10px 1%;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  width: 48%;
  height: auto;
  background: #3085a3;
  text-align: center;
  cursor: pointer;*/
}

.hover figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.hover figure figcaption {
  padding: 0.5em 1em;
  color: #fff;
  /*text-transform: uppercase;*/
  /*font-size: 1.25em;*/
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.hover figure figcaption::before,
.hover figure figcaption::after {
  pointer-events: none;
}

.hover figure figcaption,
.hover figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.hover figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.hover figure h3 {
  /*word-spacing: -0.15em;*/
  font-weight: 300;
}

.hover figure h2 span {
  font-weight: 800;
}

.hover figure h3,
.hover figure p {
  margin: 0;
}

.hover figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}


/*-------------------------------*/
/***** HOVER EFFECTS -- Lexi *****/
/*-------------------------------*/

figure.effect-lexi {
/*  background: -webkit-linear-gradient(-45deg, #000 0%,#fff 100%);
  background: linear-gradient(-45deg, #000 0%,#fff 100%);*/
  background: #000;
  text-align: center;
}

figure.effect-lexi img {
  margin: -10px 0 0 -10px;
  width: -webkit-calc(100% + 10px);
  width: calc(100% + 10px);
  max-width: 500px;
  opacity: 0.9;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(10px,10px,0);
  transform: translate3d(10px,10px,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect-lexi figcaption::before,
figure.effect-lexi p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-lexi figcaption::before {
  position: absolute;
  right: -100px;
  bottom: -100px;
  width: 250px;
  height: 220px;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 900px rgba(255,255,255,0.2);
  content: '';
  opacity: 0;
  -webkit-transform: scale3d(0.5,0.5,1);
  transform: scale3d(0.5,0.5,1);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

figure.effect-lexi:hover img {
  opacity: 0.6;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-lexi h3 {
  position: relative;
  top: 50%;
  color: #F056E3;
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 3.2);
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 36px;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
/*  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);*/
  transform: scale3d(1,1,1) translateY(-50%);
  transform-origin: -20% -10%;
}

figure.effect-lexi p {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1em;
  width: 140px;
  text-align: right;
  opacity: 0;
  -webkit-transform: translate3d(20px,20px,0);
  transform: translate3d(20px,20px,0);
}

figure.effect-lexi:hover figcaption::before {
  opacity: 1;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

figure.effect-lexi:hover h3{
  /*font-size: 24px;*/
  opacity: 1;
  transform: scale3d(0.8,0.8,1) translateY(-100%);
/*  -webkit-transform: translate3d(20px,20px,0);
  transform: translate3d(20px,20px,0);*/
}

figure.effect-lexi:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-lexi a{
  color: #fff;
  display: block;
  line-height: 1.8em;
  text-decoration: none;
  text-align: right;
  font-size: 1.4em;
}

figure.effect-lexi a:hover{
  color: #eee;
  font-weight: bold;
}