<!DOCTYPE html>
<html>
<head>
  <title>Berkjon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Fredericka+the+Great|Cabin+Sketch:400,700|Lobster|Walter+Turncoat|Amatic+SC:400,700|Ceviche+One|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
  <!-- https://www.google.com/fonts#UsePlace:use/Collection:Cabin+Sketch:400,700|Lobster|Amatic+SC:400,700|Ceviche+One|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800 -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
