<!DOCTYPE html>
<html>
<head>
  <title>Berkjon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <link href='https://fonts.googleapis.com/css?family=Permanent+Marker|Fredericka+the+Great|Cabin+Sketch:400,700|Lobster|Walter+Turncoat|Muli:300,400,300italic,400italic|Amatic+SC:400,700|Ceviche+One|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Nothing+You+Could+Do|Cinzel:400,900,700|Playfair+Display+SC:400,400italic,700,700italic,900,900italic|Montserrat|PT+Sans:400,700,400italic|Oswald:400,700|Raleway:400,700,800,900,500,600|Lato:400,100italic,400italic,900,700,300italic|Bad+Script|Josefin+Slab:400,100italic,300italic,700,700italic,600italic,400italic|Neuton:400,400italic,300,700|Averia+Sans+Libre:400,400italic,300italic,700|Roboto+Slab:400,700|Old+Standard+TT:400,400italic,700|Vollkorn:400,700italic,400italic,700' rel='stylesheet' type='text/css'>

  <!-- https://www.google.com/fonts#UsePlace:use/Collection:Permanent+Marker|Fredericka+the+Great|Cabin+Sketch:400,700|Lobster|Walter+Turncoat|Muli:300,400,300italic,400italic|Amatic+SC:400,700|Ceviche+One|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Nothing+You+Could+Do|Cinzel:400,900,700|Playfair+Display+SC:400,400italic,700,700italic,900,900italic|Montserrat|PT+Sans:400,700,400italic|Oswald:400,700|Raleway:400,700,800,900,500,600|Lato:400,100italic,400italic,900,700,300italic|Bad+Script|Josefin+Slab:400,100italic,300italic,700,700italic,600italic,400italic|Neuton:400,400italic,300,700|Averia+Sans+Libre:400,400italic,300italic,700|Roboto+Slab:400,700|Old+Standard+TT:400,400italic,700|Vollkorn:400,700italic,400italic,700 -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <script type="text/javascript" src="https://500px.com/embed.js"></script>
</body>
</html>
